.status-card {
  
    display: flex;
   
    align-items: center;
    
    margin-bottom: 20px;
   
    background-color: #99a9b8;
  
    border-radius: 50px;
    width: 300px;

}


.status-card__icon {
    width: -100%;
    padding-left: 10px;
}



.content{
    font-size: 20px;
}







