.tableoffer{
    margin-left: 150px;
    border-collapse: collapse;
    width: 70%;
}
  
  .tableoffer th,
  td {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 8px;
    font-size: 20px;
  }
  
  .tableoffer th {
    background-color: rgb(117, 201, 250);
  }