/* .active-modal {
    overflow-y: hidden;
} */

.search{
    padding-left: 75px;
    padding-right: 54px;
    /* margin-right: 1000px; */
    /* height: 50px; */
    height: 45px;
    
}


.my-3{
    
    padding: 10px 20px 40px 2px;
}

 .customertable th{

    padding: 2rem;
    padding-right: 10px;
    font-size: 19px;
    padding-left: 40px;
    background-color:rgb(212, 212, 212);
    text-align: left;
 }
 .customertable{
    width: 100%;
    border-collapse: collapse;

 }
 .customertable tr td{
    border-collapse:collapse;
 }

 .customertable tr:nth-child(even) {background-color: rgb(221, 221, 221);}

.btn-modal {

    padding: 10px 10px;
    border-radius: 20px;
    display: block;
    margin: 30px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    background-color: rgb(156, 158, 158);
    cursor: pointer;

}

.overlay{
position: fixed;
  
}
/* .search{
    margin-left: 100px;
} */

.modal-content {
 align-items: center;
    position: fixed;
    width: 1200px;
    height: 600px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.904);
    box-shadow:rgb(18, 17, 17);
    display: flex;
    flex-direction: column;
    padding: 25px;
    top: 51%;
    left: 51%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    font-size: 10px;
    overflow: scroll;
}

.close-modal {
border-radius: 3px;
top: 1px;
right: 40px;
background-color: rgb(71, 65, 65);
}

.section-center{

    width: 20px;
    height: 30px;

}

.container{
    width: 95vw;
    font-size: 27px;
    padding-left: 50px;
    /* transform: translate(-50%,-50%); */
    /* padding-right: 30px; */
  
    /* word-spacing: 72px; */
    
}

h1{
padding-left: 400px;
padding-top: 40px;
font-size: 2em;
}

.table1 th, td{
    
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 1rem;
    padding-right: 10px;
    padding-bottom: 15px;
    font-size: 13px;
    padding-left: 40px;
   
 }
 .table1{
    width: 80%;
    height: 60%;
    border-collapse: collapse;

 }

.table1 th{
    padding: 28px;
}


.datatable{
   overflow:none;
   float: left;
   width: 10px;
   font-size: 10px;
   
   /* margin-left: 100px; */
   /* height:100px; */

}

.innercontainer{
    padding-left: 110px;
    padding-right: 70px;
    
}

.actionbutton{
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #0d4779
}


.actionbutton:hover{
    background-color:rgb(24, 176, 236);
     color: white;
  }
