.section-center{
    padding-right: 850px;
}

.headersubin{
    font-size: 35px;
    font-style: bold;
}
.menu-item{
    display: flex;
    border-style: double;
    border-width: 5px;
    border-radius: 0px;
    min-width: 450px;
}